.body-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.main-bg{
  background-color: #CAD5E2;
}
.navbar{
  display: flex;
  align-items: center;
}
.main-body{
  /* border: 1px solid gray; */
  margin: 0 120px;
}
.main-body h1{
  color: coral;
  margin-top: 40px;
}
.logo-img{
  
}
.sidebar{
  /* border: 1px solid red; */
}

@media screen and (max-width:500px){
  .body-container{
    display: flex;
    flex-direction: column;
  }
  .main-body{
    margin-left: 40px;
    margin-right: 30px;
  }
}